body {
    font-family: Helvetica, sans-serif;
    color: #9DA3A6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

img {
    border: 2px solid #F0804F;
    max-width: 60%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    color:#9DA3A6;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu {
    line-height: 75px;

}    

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color:#;
}

#menu a:hover {
    border-bottom: 1px solid #9DA3A6;
}

.active {
    border-bottom: 1px solid #9DA3A6;
}

figure {
    margin-top: 40px;
}

.container-fluid {
    width: 100%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}